﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="CreatePassword.aspx.cs" Inherits="CreatePassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <br />
    <asp:TextBox ID="tbNewPass" runat="server"></asp:TextBox>
    <br />
    <asp:Button ID="Button1" runat="server" Text="Get encrypted" OnClick="Button1_Click" />
    <br />
    <asp:Label ID="lbMessage" runat="server" Text="Encrypted Password:"></asp:Label>
    <br />
    <asp:Label ID="lpPass" runat="server" Text=""></asp:Label>

</asp:Content>

