﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="CropManagement.aspx.cs" Inherits="CropManagement" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

    <br />
    <asp:DropDownList ID="ddlSrv" runat="server" AutoPostBack="true" OnSelectedIndexChanged="ddlSrv_SelectedIndexChanged"></asp:DropDownList>
    <br /><br />
    <asp:DropDownList ID="ddlDBNames" runat="server" AutoPostBack="true" Visible="false" OnSelectedIndexChanged="ddlDBNames_SelectedIndexChanged"></asp:DropDownList>
    <br />
</asp:Content>

