﻿      function setDecimal(input, places) {
            var temp = parseFloat(input),
                res,
                minfactor;
        if (isNaN(temp)) return "";
        if(temp==0) return "";
        minfactor="0." + Array(+((places-1) > 0 && (places-1) + 1)).join("0");
        minfactor=minfactor+1;
        var factor = "1" + Array(+(places > 0 && places + 1)).join("0");
        res = Math.round(temp * factor) / factor;

        if(parseFloat(minfactor) > res){
            return "";
        }
            return res;
        }



<style>
    #icl-main-wrap {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
    }

    table td, th {
        line-height: 28px;
    }

    .logo2 {
        display: none;
    }

    .bold {
        font-weight: bold;
    }

    .crop-info {
        text-align: left;
        width: 100%;
    }

        .crop-info td {
            color: #41734D;
        }

    .tables-header {
        font-weight: bold;
        background-color: #86B356;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .fertilisers-table th {
        font-weight: bold;
        background-color: #C5D9F1;
        text-align: center;
        color: #163691;
    }

    .fertilisers-table td {
        font-size: 20px;
        text-align: center;
        border: 1px solid #86B356;
        color: #41734D;
    }

    .fertilisers-table {
        width: 100%;
        border: 2px solid #86B356;
        border-collapse: collapse;
        margin-bottom: 25px;
    }

    .blue-head-td {
        font-weight: bold;
    }

    .season-first-table {
        width: 100%;
        border: 2px solid #86B356;
        border-collapse: collapse;
        text-align: center;
    }

        .season-first-table td {
            border: 1px solid #86B356;
            font-size: 20px;
            color: #41734D;
        }

    .season-second-table td {
        border: 1px solid #86B356;
        font-size: 20px;
    }

    .three-charts table td {
        width: 33%;
        max-height: 300px;
    }

    .fertilisers-table-header {
        font-weight: bold;
        background-color: #86B356;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .season-third-table td {
        border: 1px solid #86B356;
        font-size: 20px;
        color: #41734D;
    }

    .three-charts-table td {
        border: 1px solid #86B356;
        color: #41734D;
    }

    .season-first-table tr:nth-child(even) td.season-first-table-big-td {
        background: #E9F0F6;
    }

    .season-second-table tr:nth-child(even) {
        background: #E9F0F6;
        ;
    }

    .season-third-table tr:nth-child(even) {
        background: #E9F0F6;
    }

    .fert-first-line, .fert-second-line {
        display: inline-block;
        color: #41734D;
    }

    .fert-second-line {
        margin-left: 15px;
    }

    .ratios {
        margin-bottom: 15px;
    }

    .text-left {
        text-align: left;
    }

    .fert-indent {
        margin-left: 5px;
    }

    .crop-indent {
        margin-left: 10px;
    }

    .base-dressing-elements {
        width: 100%;
    }

        .base-dressing-elements td {
            width: 8.3%;
        }

    .grey-crop-info {
        position: relative;
        height: 200px;
        width: 100%;
        background-color: #EDEEE6;
    }

        .grey-crop-info:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border-left: 45px solid transparent;
            border-top: 45px solid transparent;
            border-right: 45px solid #fff;
            border-bottom: 45px solid #fff;
            bottom: 0;
            right: 0;
        }

    .stages-additional-info {
        font-size: 19px;
    }

    .unbreakable {
        display: table;
        width: 100%;
    }

        .unbreakable:after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }

    .page-break {
        display: block;
        page-break-before: always;
    }

    @page {
        size: A4;
        margin: 2cm;
    }

    @media print {
        html, body {
            height: 297mm;
        }
    }






    #column-diagram-first, #fourth-chart, #fifth-char {
        border: 1px solid #D9D9D9;
        margin-left: 3px;
        margin-top: 20px;
    }

    #column-diagram-first, {
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    #column-diagram-first, #fourth-chart, #fifth-char {
        border: 1px solid #D9D9D9;
        margin-left: 3px;
        margin-top: 20px;
    }

    #column-diagram-first, {
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    .column-diagram-wrap {
        margin-top: 40px;
    }
</style>
<head>
    <meta charset="UTF-8">
</head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<div class="logo2">
    <img src='{#image {{logoImg}}}' />

</div>
<div id="icl-main-wrap">
    <div class="header-logo"></div>
    <div class="unbreakable">
        <div class="grey-crop-info">
            <table class="crop-info">
                <tr>
                    <td><span class="crop-indent bold">{{{constantsFilter 'lbReportnProgramName' langConsts langDefConsts}}}:</span></td>
                    <td>{{programName}}</td>
                    <td><span class="bold">{{{constantsFilter 'lbReportCropName' langConsts langDefConsts}}}:</span></td>
                    <td>{{crop}}</td>
                    <td><span class="bold">{{{constantsFilter 'lbReportPlantingDate' langConsts langDefConsts}}}:</span></td>
                    <td>{{{convertTimestampToDate plantingDate false dateFormat}}}</td>
                </tr>
                <tr>
                    <td><span class="crop-indent bold">{{{constantsFilter 'lbReportFarmName' langConsts langDefConsts}}}:</span></td>
                    <td>{{farmName}}</td>
                    <td><span class="bold">{{{constantsFilter 'lbReportYieldGoal' langConsts langDefConsts}}}</span></td>
                    <td>{{yieldGoal}} <italic>{{{metricName 'MT/ha' applyUSMetric}}}</italic></td>
                    <td><span class="bold">{{{constantsFilter 'lbReportFertAppMethod' langConsts langDefConsts}}}:</span></td>
                    <td>{{fertApplicationMethod}}</td>
                </tr>
                <tr>
                    <td><span class="crop-indent bold">{{{constantsFilter 'lbReportPlotName' langConsts langDefConsts}}}:</span></td>
                    <td>{{plotName}}</td>
                    <td><span class="bold">{{{constantsFilter 'lbReportVarietyName' langConsts langDefConsts}}}:</span></td>
                    <td>{{variety}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="crop-indent bold">{{{constantsFilter 'lbReportPlotArea' langConsts langDefConsts}}}:</span></td>
                    <td>{{{setDecimal plotArea 3}}} <italic>{{plotAreaUnit}}</italic></td>
                    <td><span class="bold">{{{constantsFilter 'lbReportGrowingMethod' langConsts langDefConsts}}}:</span></td>
                    <td>{{growingMethod}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>


    {{#if cropInfo.generalSetting.solidTestId}}
    <div class="column-diagram-wrap unbreakable">

        <div class="tables-header" dir="ltr">
            Soil test interpretation
        </div>
        <div id="column-diagram-first" style="height:400px"></div>
    </div>
    {{/if}}




    <div class="fertilisers-wrap">
        {{#if hasBaseDressing}}
        {{#if baseDressingData}}
        <div class="unbreakable">
            <div class="fertilisers-table-header">
                {{{
constantsFilter 'lbReportBaseDressing' langConsts
                langDefConsts
                }}}
            </div>
            <table class="fertilisers-table">
                <tbody>
                    <tr>
                        <td class="blue-head-td">
                            {{{constantsFilter 'lbReportFertiliezerName' langConsts langDefConsts}}}
                        </td>
                        <td class="blue-head-td">{{{constantsFilter 'lbReportQuantity' langConsts langDefConsts}}}</td>
                        <td class="blue-head-td">{{{constantsFilter 'lbReportUnit' langConsts langDefConsts}}}</td>
                    </tr>
                    {{#if baseDressingData}}
                    {{#each baseDressingData}}
                    {{#if Quantity}}
                    <tr>
                        <td>{{FertName}}</td>
                        <td>{{{metricName UnitName ../../applyUSMetric Quantity}}}</td>
                        <td>
                            <italic>{{{metricName UnitName ../../applyUSMetric}}}</italic>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
        {{#if baseDressingRecommendations}}
        <div class="unbreakable">
            <table class="fertilisers-table base-dressing-elements">
                <tr class="fertiliezer-elements">
                    <td class="blue-head-td">N</td>
                    <td class="blue-head-td">P</td>
                    <td class="blue-head-td">K</td>
                    <td class="blue-head-td">Ca</td>
                    <td class="blue-head-td">Mg</td>
                    <td class="blue-head-td">S</td>
                    <td class="blue-head-td">B</td>
                    <td class="blue-head-td">Fe</td>
                    <td class="blue-head-td">Mn</td>
                    <td class="blue-head-td">Zn</td>
                    <td class="blue-head-td">Cu</td>
                    <td class="blue-head-td">Mo</td>
                </tr>
                <tr class="fertiliezer-elements-value">
                    <td>{{{setDecimal baseDressingRecommendations.N_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.P_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.K_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.Ca_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.Mg_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.S_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.B_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.Fe_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.Mn_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.Zn_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.Cu_Val 2}}}</td>
                    <td>{{{setDecimal baseDressingRecommendations.Mo_Val 2}}}</td>
                </tr>
            </table>
        </div>
        {{/if}}
        {{/if}}
        {{/if}}
    </div>
    <div class="three-tables">

        {{#each stages}}
        <div class="unbreakable">
            <div class="tables-header">
                {{Name}} ( {{{convertTimestampToDate FromDate false ../dateFormat}}} - {{{
convertTimestampToDate ToDate
                        false ../dateFormat
                }}})
            </div>
            <div class="first-table ">
                <div class="stages-additional-info">
                    <div class="fert-first-line">
                        <span class="bold">{{{constantsFilter 'lbReportDuration' ../langConsts ../langDefConsts}}}:</span>
                        <span class="normal">{{{setDecimal Duration 2}}} {{{constantsFilter 'lbReportDays' ../langConsts ../langDefConsts}}}</span>
                    </div>
                    <div class="fert-second-line">
                        <span class="bold">{{{constantsFilter 'lbReportRecommendation' ../langConsts ../langDefConsts}}}:</span>
                        <span class="normal">{{../recommendationPer}}</span>
                    </div>
                </div>
                <table class="season-first-table">
                    {{#if SelectedFertilizers.Fertilizer.length}}
                    <tr>
                        <td>
                            <span class="bold">{{{constantsFilter 'lbReportFertiliezerName' ../../langConsts ../../langDefConsts}}}</span>
                        </td>
                        <td>
                            <span class="bold">{{{constantsFilter 'lbReportApplicationAmmount' ../../langConsts ../../langDefConsts}}}</span>
                        </td>
                        <td>
                            <span class="bold">{{{constantsFilter 'lbReportConcentrationUnit' ../../langConsts ../../langDefConsts}}}</span>
                        </td>
                    </tr>
                    {{#each SelectedFertilizers.Fertilizer}}
                    {{#if Concentration}}
                    <tr>
                        <td class="text-left"><span class="fert-indent">{{Name}}</span></td>
                        <td>{{{metricName unitName ../../../../applyUSMetric Concentration}}}</td>
                        <td>
                            <italic>{{{metricName unitName ../../../../applyUSMetric 'null' ../../../../cropInfo/generalSetting/isHydroponic}}}</italic>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    {{/if}}
                </table>
            </div>
        </div>
        {{/each}}

    </div>
</div>
<script>
    $(function () {

        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Arial'
                }
            }
        });

        function setPercent(value){

            while (value>100) {
                value=value/10;
            }
            return value;
        }

        var chartSeries = [
            {
                "animation": false,
                "name": 'Soil results',
                "data": [{{soilTestData.N_Val}}, {{soilTestData.P_Val}}, {{soilTestData.K_Val}}, {{soilTestData.Ca_Val}}, {{soilTestData.Mg_Val}}, {{soilTestData.S_Val}}, {{soilTestData.B_Val}}, {{soilTestData.Fe_Val}}, {{soilTestData.Mn_Val}}, {{soilTestData.Zn_Val}}, {{soilTestData.Cu_Val}}, {{soilTestData.Mo_Val}}, {{soilTestData.Na_Val}}, {{soilTestData.Cl_Val}}],
                "showInLegend": false
            }
        ];

        var yTickPositions = {
            25: '<span style="color: #EDC81A; position: relative; top: 25px;" dir="rtl">Low</span>',
            50: '<span style="color: #22B14C; position: relative; top: 25px;" dir="rtl">Adequate</span>',
            75: '<span style="color: #FF8000; position: relative; top: 25px;" dir="rtl">High</span>',
            100: '<span style="color: #ED1C24; position: relative; top: 25px; left: 2vh;" dir="rtl">Excessive</span>'
        };


        var rangeDefinition=[25, 50, 75, 100];

        //var yTickPositionsThreeCharts = {{yTickPositionsThreeCharts}};
        var   soilTestElementsData={
            N_Val:{{soilTestData.N_Val}},
            P_Val:{{soilTestData.P_Val}},
            K_Val:{{soilTestData.K_Val}}

        };
        yTickPositionsThreeCharts={};
        yTickPositionsThreeCharts[soilTestElementsData.N_Val]='<span style="color: #5497D3; position: relative; top: 5vh;">'+soilTestElementsData.N_Val+'</span>';
        yTickPositionsThreeCharts[soilTestElementsData.P_Val]='<span style="color: #EC782A; position: relative; top: 5vh;">'+soilTestElementsData.P_Val+'</span>';
        yTickPositionsThreeCharts[soilTestElementsData.K_Val]='<span style="color: #767676; position: relative; top: 5vh;">'+soilTestElementsData.K_Val+'</span>';

        function getYAxisLabelThreeChart(value) {
            return  yTickPositionsThreeCharts[value];
        }





        function getXAxisColoredSeries(series) {
            var coloredSeries = [];
            series.forEach(function(value) {
                coloredSeries.push({y: value, color: getPointColor(value)});
            });


            return coloredSeries;
        }


        function getPointColor(value) {

            if (between(value, 0, rangeDefinition[0])) {
                return '#EDC81A';
            }
            if (between(value, rangeDefinition[0], rangeDefinition[1])) {
                return '#22B14C';
            }
            if (between(value, rangeDefinition[1], rangeDefinition[2])) {
                return '#FF8000';
            }

            return '#ED1C24';
        }


        function between(value, min, max) {
            return (value >= min && value <= max);
        }


        chartSeries[0].data = getXAxisColoredSeries(chartSeries[0].data);
        function getYAxisLabel(value) {
            return yTickPositions[value];
        }

        $('#column-diagram-first').highcharts({
            chart: {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 10,
                    beta: 0,
                    depth: 50,
                    viewDistance: 25
                }
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['N', 'P', 'K', 'Ca', 'Mg', 'S', 'B', 'Fe', 'Mn', 'Zn', 'Cu', 'Mo', 'Na', 'Cl']
            },

            yAxis: {
                labels: {
                    formatter: function () {
                        return getYAxisLabel(this.value);
                    },
                    useHTML: true
                },
                tickPositions: [0, 25, 50, 75, 100],
                title: {
                    text: null
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    depth: 40
                }
            },

            series:chartSeries
        });

    });

</script>
