﻿<style>
        #icl-main-wrap {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
        }

        table td, th {
            line-height: 28px;
        }

        .grey-crop-info {
            position: relative;
            height: 180px;
            width: 35%;
            background-color: #EDEEE6;
            float: right;
            padding-right: 10px;
            padding-top: 5px;
            margin-top: 10px;
        }

        .grey-crop-info:after {
            position: absolute;
            left: 0px;
            bottom: 0px;
            content: "";
            border-bottom: 70px solid #fff;
            border-right: 70px solid transparent;
        }

        .charts-header {
            font-size: 24px;
        }

        .logo {
            display: none;
        }

        .bold {
            font-weight: bold;
        }

        .crop-info {
            text-align: right;
            width: 100%;
        }

        .crop-info th {
            text-align: center;
            font-weight: bold;
            background-color: #95B3D7;
            color: white;
        }

        .small-width-crop-td {
            width: 50%;
        }

        .charts-header {
            text-align: center;
            font-weight: bold;
            background-color: #95B3D7;
            color: white;
            width: 100%;
        }

        .tables-header {
            font-weight: bold;
            background-color: #C5D9F1;
            text-align: center;
            color: #163691;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 15px;
        }

        .logo2 {
            width: 100%;
            text-align: right;
            margin-top: 15px;
        }

        .fertilisers-table th {
            font-weight: bold;
            background-color: #C5D9F1;
            text-align: center;
            color: #163691;
        }

        .fertilisers-table td {
            font-size: 20px;
            text-align: center;
            border: 1px solid #8DB4E2;
        }

        .fertilisers-table {
            width: 100%;
            border: 2px solid #8DB4E2;
            border-collapse: collapse;
            margin-bottom: 25px;
        }

        .blue-head-td {
            color: #163691;
            font-weight: bold;
        }

        .blue-td {
            color: #163691;
        }

        .season-first-table {
            width: 100%;
            border: 2px solid #8DB4E2;
            border-collapse: collapse;
            color: #163691;
            text-align: center;
        }

        .season-first-table td {
            border: 1px solid #8DB4E2;
            font-size: 20px;
        }

        .fertilisers-table-header {
            font-weight: bold;
            background-color: #C5D9F1;
            text-align: center;
            color: #163691;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .align-right {
            text-align: right;
        }

        .bg-white {
            background-color: white;
        }

        .unbreakable {
            display: table;
            width: 100%;
        }

        .unbreakable:after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }

        .page-break {
            display: block;
            page-break-before: always;
        }

        @page {
            size: A4;
            margin: 2cm;
        }

        @media print {
            html, body {
                height: 297mm;
            }
        }
</style>
<head>
    <meta charset="UTF-8">
</head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<div id="icl-main-wrap">
    <div class="header-logo">
    </div>
    <div class="crop-info-wrap unbreakable">
        <div class="charts-header crop-info-header unbreakable" dir="rtl"> נתונים כללים </div>
        <div class="grey-crop-info">
            <table class="crop-info">
                <tbody>
                    <tr>
                        <td dir="rtl">{{userInfo.userName}}</td>
                        <td class="small-width-crop-td"><span class="bold" dir="rtl">מגדל:</span></td>
                    </tr>
                    <tr>
                        <td dir="rtl">{{cropInfo.cropSelection.cropName}}</td>
                        <td class="small-width-crop-td"><span class="bold" dir="rtl">גידול:</span></td>
                    </tr>
                    <tr>
                        <td dir="rtl">{{cropInfo.cropSelection.growingMethodName}}</td>
                        <td class="small-width-crop-td"><span class="bold" dir="rtl">שיטת גידול:</span></td>
                    </tr>
                    <tr>
                        <td dir="rtl"> {{cropInfo.generalSetting.plotName}}</td>
                        <td><span class="bold" dir="rtl">חלקה:</span></td>
                    </tr>
                    <tr>
                        <td dir="rtl">{{{setDecimal cropInfo.generalSetting.plotArea 3 true}}} דונם </td>
                        <td><span class="bold" dir="rtl">גודל חלקה (דונם):</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="logo2">
        <img src='{#image icl}' />
    </div>
    {{#if cropInfo.recommendations}}
    <div class="fertilisers-wrap">
        <div class="charts-header" dir="rtl">המלצות דישון</div>
        {{#each cropInfo.recommendations.stages}}
        <div class="unbreakable">
            <div class="fertilisers-table-header">  <span dir="rtl"> {{Name}}</span>  <span dir="rtl"> ({{Duration}} יום)</span></div>
            {{#if SelectedFertilizers}}
            <table class="fertilisers-table">
                <tbody>
                    <tr>
                        <td class="blue-head-td" dir="rtl">לשלב</td>
                        <td class="blue-head-td" dir="rtl">שם הדשן</td>
                    </tr>
                    {{#each SelectedFertilizers.Fertilizer}}
                    {{#if Concentration}}
                    <tr>
                        <td class="blue-td" dir="rtl">{{{setDecimal Concentration 2 false}}}</td>
                        <td class="blue-td" dir="rtl">{{Name}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
