﻿<style>
    header {
        width: 100%;
    }

    .clear {
        clear: both;
    }

    .header {
        text-align: center;
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        background-color: #95B3D7;
        margin-top: 40px;
        color: #FFFFFF;
    }

    .logo-wrap {
        float: left;
        width: 80%;
        display: none;
    }

    .time-wrap {
        float: right;
        width: 20%;
        color: #163699;
    }

    .logo-time-wrap {
        width: 100%;
        margin-bottom: 10px;
    }

    .crop-info-wrap, .crop-info, .test-parameters {
        width: 100%;
    }

    .crop-info-wrap {
        padding-top: 25px;
    }

    .crop-info-wrap, .crop-info, .test-info, .test-values {
        width: 100%;
    }

        .crop-info td {
            color: #02317F;
        }

    .bold-underline {
        font-weight: bold;
        text-decoration: underline;
    }


    .test-info td {
        width: 11.1%;
        color: #02317F;
    }

    .test-info {
        margin-top: 15px;
    }

    .bold-underline {
        font-weight: bold;
        text-decoration: underline;
    }

    .test-info .metric {
        color: red;
        font-style: italic;
    }

    .td-border-color {
        border-right: 3px solid #E9E9E9;
        width: 9%;
    }

    .td-padding-left {
        padding-left: 10px;
    }

    .test-values {
        margin-top: 20px;
        border-collapse: collapse;
        border: 2px solid #95B3D7;
        width: 99%;
    }


        .test-values th {
            height: 40px;
            line-height: 14px;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            font-weight: bold;
            color: #02317F;
            border: 2px solid #95B3D7;
        }

        .test-values td {
            width: 5.5%;
            line-height: 14px;
            text-align: center;
            vertical-align: middle;
            height: 24px;
            border: 2px solid #95B3D7;
            color: #02317F;
        }

        .test-values .element {
            color: #8DADD3;
            font-size: 16px;
            font-weight: bold;
        }

    italic {
        font-style: italic;
    }

    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 2px solid #102C84;
        margin: 1em 0;
        padding: 0;
    }

    .dark-blue {
        color: #102C84;
        font-weight: bold;
    }

    .relation {
        margin-top: 15px;
        color: #02317F;
    }

    .test-parameters {
        color: #02317F;
    }

    #container {
        margin-top: 20px;
        width: 100%;
    }

    .grey-crop-info {
        position: relative;
        height: auto;
        width: 50%;
        background-color: #EDEEE6;
        float: right;
        padding-right: 10px;
        padding-top: 5px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

        .grey-crop-info:after {
            position: absolute;
            left: 0px;
            bottom: 0px;
            content: "";
            border-bottom: 40px solid #fff;
            border-right: 40px solid transparent;
        }

    .main-wrap {
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body, #container, #container highcharts-container, #container svg {
        display: block;
        width: 100%;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<head>
    <meta charset="UTF-8">
</head>
<div class="main-wrap">
    <header>
        <div class="logo-time-wrap">
            <div class="logo-wrap">
                <img src='{#image icl}' />
            </div>
            <div class="time-wrap">
                <span class="time">{{{convertTimestampToDate null false dateFormat}}}</span>
            </div>
        </div>
    </header>
    <div class="clear"></div>
    <div class="header">
        {{{constantsFilter 'lbReportWaterAnalysis' langConsts langDefConsts}}}
    </div>
    <!--
    <div class="crop-info-wrap">
        <table class="crop-info grey-crop-info">
            <tr>
                <td dir="rtl" colspan="2" class="bold-underline" style="text-align:right;">{{{constantsFilter 'lbReportConcentrationsIn' langConsts langDefConsts}}}</td>
                <td  dir="rtl" class="bold-underline" >{{{constantsFilter 'lbReportPPMWater' langConsts langDefConsts}}}</td>
            </tr>

            {{#if testData.IsTotalWaterForAllStages}}

            <tr>
                <td dir="rtl"><italic>{{{metricName 'm3/ha' applyUSMetric}}}</italic></td>
                <td dir="rtl">{{testData.totalWaterForAllStages}}</td>
                <td dir="rtl" class="bold-underline">{{{constantsFilter 'lbReportTotalWater' langConsts langDefConsts}}}</td>
            </tr>

            {{else}}

            {{#if testData.stages}}
            {{#each testData.stages}}
            <tr>
                <td dir="rtl"><italic>{{{metricName 'm3/ha' applyUSMetric}}}</italic></td>
                <td dir="rtl">{{Totalwater}}</td>
                <td dir="rtl">{{StageName}}</td>
            </tr>
            {{/each}}
            {{/if}}
            {{/if}}

        </table>
    </div>
    -->
    <div class="test-result">
        es
        cl
        <table class="test-values">
            <tr>
                <th colspan="4">col{{{constantsFilter 'lbReportNForms' langConsts langDefConsts}}}</th>
                <th colspan="14"> {{testData.Cl_Val}}
</th>
                </th>

                }

            </tr>
            <tr>
                tr
                <td class="element">{{{constantsFilter 'lbReportTotalN' langConsts langDefConsts}}}</
td>
                
                <td class="element">N-NO3</td>
                </td>
                </
                

                <td class="element">N-NO3</td>
                <td class="element">N-NH4</td>
                <td class="element">N-NH2</td>
                <td class="element">P</td>
                <td class="element">K</td>
                <td class="element">Ca</td>
                <td class="element">Mg</td>
                <td class="element">S</td>
                <td class="element">Na</td>
                <td class="element">HCO3</td>
                <td class="element">Cl</td>

                <td class="element">B</td>
                <td class="element">Fe</td>
                <td class="element">Mn</td>
                <td class="element">Zn</td>
                <td class="element">Cu</td>
                <td class="element">Mo</td>
            </tr>
            <tr>
                <td>{{{truncator testData.totalN 1}}}</td>
                <td>{{{truncator testData.N_NO3_Val.value 1}}}</td>
                <td>{{{truncator testData.N_NH4_Val.value 1}}}</td>
                <td>{{{truncator testData.N_NH2_Val.value 1}}}</td>
                <td>{{{truncator testData.P_Val.value 1}}}</td>
                <td>{{{truncator testData.K_Val.value 1}}}</td>
                <td>{{{truncator testData.Ca_Val.value 1}}}</td>
                <td>{{{truncator testData.Mg_Val.value 1}}}</td>
                <td>{{{truncator testData.S_Val.value 1}}}</td>
                <td>{{{truncator testData.Na_Val.value 1}}}</td>
                <td>{{{truncator testData.HCO3_Val.value 1}}}</td>
                <td>{{{truncator testData.CL_Val.value 1}}}</td>

                <td>{{{truncator testData.B_Val.value 1}}}</td>
                <td>{{{truncator testData.Fe_Val.value 1}}}</td>
                <td>{{{truncator testData.Mn_Val.value 1}}}</td>
                <td>{{{truncator testData.Zn_Val.value 1}}}</td>
                <td>{{{truncator testData.Cu_Val.value 1}}}</td>
                <td>{{{truncator testData.Mo_Val.value 1}}}</td>


            </tr>
        </table>
    </div>
    <div class="relation">
        Mg:Ca=1:{{testData.math_relations}}
    </div>
    <hr>
    <table class="test-parameters">
        <tr>
            <td colspan="8" class="dark-blue">{{{constantsFilter 'lbReportParameters' langConsts langDefConsts}}}</td>
        </tr>
        <tr>
            <td style="width: 5%;">{{{constantsFilter 'lbReportEC' langConsts langDefConsts}}}</td>
            <td style="width: 5%;">{{testData.ec.value}}</td>
            <td><italic>{{{metricName 'ds/m' applyUSMetric}}}</italic></td>
            <td style="width: 5%;">{{{constantsFilter 'lbReportTDS' langConsts langDefConsts}}}</td>
            <td style="width: 5%;">{{{truncator testData.TDS 3}}}</td>
            <td style="width: 5%;"><italic>{{{constantsFilter 'lbReportPPM' langConsts langDefConsts}}}</italic></td>
            <td style="width: 10%;">{{{constantsFilter 'lbReportTotalHarndess' langConsts langDefConsts}}}</td>
            <td>{{testData.TotalHarndess}}</td>
        </tr>
        <tr>
            <td>pH</td>
            <td colspan="2">{{testData.ph.value}}</td>
            <td>{{{constantsFilter 'lbReportSAR' langConsts langDefConsts}}}</td>
            <td colspan="4">{{testData.SAR}}</td>
        </tr>
    </table>
    <hr>
</div>
<div id="pie-chart" style="height:400px; float:left; width:450px"></div>

<div id="container" style="height:400px; float:right;width:400px"></div>
<script>
    $(function () {

        // Radialize the colors
        var colors = ['#096FF9', '#5905E6', '#07BD10', '#FCED05', '#F5200A', '#F59A0A'],
                data_pie={
                    "S":parseFloat({{testData.S_Val.value}}),
                    "Mg":parseFloat({{testData.Mg_Val.value}}),
                    "Ca":parseFloat({{testData.Ca_Val.value}}),
                    "Na":parseFloat({{testData.Na_Val.value}}),
                    "Cl":parseFloat({{testData.CL_Val.value}}),
                    "HCO3":parseFloat({{testData.HCO3_Val.value}}),
                    "P":parseFloat({{testData.P_Val.value}}),
                    "K":parseFloat({{testData.K_Val.value}}),
                    "B":parseFloat({{testData.B_Val.value}}),
                    "Fe":parseFloat({{testData.Fe_Val.value}}),
                    "Mn":parseFloat({{testData.Mn_Val.value}}),
                    "Zn":parseFloat({{testData.Zn_Val.value}}),
                    "Cu":parseFloat({{testData.Cu_Val.value}}),
                    "Mo":parseFloat({{testData.Mo_Val.value}})
                },
        title_pie='{{{constantsFilter 'lbReportTotalHarndess' langConsts langDefConsts}}}';
        Highcharts.getOptions().colors = Highcharts.map(colors, function (color) {


            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });


        // Build the chart
        $('#pie-chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                size:'100%'
            },
            credits: {
                enabled: false
            },
            title: {
                useHTML: true,
                text: '<span style="color:#02317F;">{{{constantsFilter 'lbReportMacronutrientsDistribution' langConsts langDefConsts}}}</span>'
        },
            subtitle: {
            useHTML: true,
            text: '<span style="color:#02317F;">{{{constantsFilter 'lbReportPercentOfTotalNutrients' langConsts langDefConsts}}}</span>'
            },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                    allowPointSelect: true,
                    animation:false,
                    dataLabels: {
                    enabled: true,
                    format: '<span><b>{point.name}</b>: {point.percentage:.1f} %</span>',
                    useHTML: true,
                    style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                        connectorColor: 'silver'
                    },
                    'labelFormatter':function () {
                        var total = 0, percentage;
                        $.each(this.series.data, function() {
                            total+=this.y;
                        });
                        percentage=((this.y/total)*100).toFixed(1);
                        return this.name+' '+percentage+'%';
                    }
            }
        },
        series: [{
            name: 'Brands',
            data: [
                {name: 'S', y:  data_pie.S},
                {name: 'Mg',y:  data_pie.Mg},
                { name: 'Ca', y:  data_pie.Ca },
                { name: 'Na', y:  data_pie.Na },
                { name: 'Cl', y:  data_pie.Cl},
                { name: 'HCO3', y:  data_pie.HCO3 },
                { name: 'P', y:  data_pie.P },
                { name: 'K', y:  data_pie.K }
            ]
        }]
    });




    $('#container').highcharts({
        chart: {
            type: 'column',
            size:'100%',
            margin: [0, 0, 20, 40],
            options3d: {
                enabled: true,
                alpha: 10,
                beta: 0,
                depth: 50,
                viewDistance: 25
            }
        },
        credits: {
            enabled: false
        },
        title: {
            useHTML: true,
            text: '<span style="color:#02317F;">{{{constantsFilter 'lbReportMicronutrients' langConsts langDefConsts}}}</span>'
    },
        plotOptions: {
        series: {
                    colorByPoint: true
        },
            column: {
                    animation: false,
                    depth: 25

            }
        },
    xAxis: {
            categories: ['B', 'Fe', 'Mn', 'Zn', 'Cu', 'Mo']
    },
    yAxis: {
            title: {
                text: null
            }
    },
    series: [{
        showInLegend: false,
        name: 'Sales',
        data: [
            {name: 'B', y: data_pie.B},
            {name: 'Fe', y: data_pie.Fe},
            {name: 'Mn', y: data_pie.Mn},
            {name: 'Zn', y: data_pie.Zn},
            {name: 'Cu', y: data_pie.Cu},
            {name: 'Mo', y: data_pie.Mo},

        ]
    }]
    })
    });
</script>


