﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="TestCrops.aspx.cs" Inherits="TestCrops" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">


    <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />

    <br /><br />

    <asp:Button ID="Button2" runat="server" Text="Test Xml" OnClick="Button2_Click" />
     <br /><br />

    <asp:Button ID="Button3" runat="server" Text="Test2 xml" OnClick="Button3_Click" />

    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="true"></asp:GridView>

</asp:Content>
 
