﻿.tag
{
  margin-left: 15px;
}
 
.item
{
  background-color: #9ed465;
  color: White;
  text-transform: capitalize;
  padding: 5px;  
}
 
.selectedTab
{
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  font-family: Calibri;
  background-color: Yellow;
}
 
.tab a:hover
{
  text-decoration: underline;
  background-color: #dddddd;
}
 
.conteudo
{
  border: 0px solid #9ed465;
  margin-bottom: 10px;
}

.selectedMenu
{
    background-color: #680840 !important;
    color: #FFF !important;
    text-decoration: none !important;
}

.static {
        padding-left: 5px;
    padding-right: 5px;
}
